.input-component {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  &__input {
    border: none;
    position: relative;
    outline: none;
    background: transparent;
    padding: 8px;
    transition: all .3s;
    box-shadow: none;
    border-bottom: 1px solid transparent;

    &:focus {
      background-color: #fff;
      box-shadow: $box-shadow-md;
      border-bottom: 1px solid #e5e5e5;
    }
  }

  &__action-buttons {
    display: flex;
    opacity: 0;
    padding-top: 8px;
    cursor: default;
    overflow: hidden;
    height: 0;
    box-sizing: border-box;
    transition: all .2s linear .2s;
  }

  &__input:focus + &__action-buttons {
    display: flex;
    opacity: 1;
    height: 46px;

    .input-component__button {
      cursor: pointer;
    }
  }

  &__button {
    flex: 1;
    border: none;
    margin:4px;
    padding: 4px 0;
    border-radius: 4px;
    outline: none;
    color: white;
    box-shadow: $box-shadow-sm;
    cursor: default;


    &_green {
      background-color: $green;

      &:hover {
        background-color: darken($green, 10);
      }
    }
    &_red {
      background-color: $red;

      &:hover {
        background-color: darken($red, 10);
      }
    }
  }
}

@keyframes button-container-slidedown {
  from {
    height: 0;
  }

  to {
    height: 46px; //Button container height
  }
}